*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: "Inria Sans", sans-serif;
    scroll-behavior: smooth;
}

body{
    display: flex;
}

ul{
    list-style: none;
    font-family: "Ubuntu", sans-serif;
}

a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: "Inria Sans", sans-serif;
    font-size: 30px;
}

nav{
    text-align: center;
    margin: 90px;
    position: fixed;
}

.navbar{
    height:500px;
    width: 30%;
}

#exp :hover{
    color: white;
    cursor: arrow;
}

.navbar :hover{
    color: rgb(125, 125, 125);
}


/* social */
.social ul{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.social li{
    transition: all 0.3s ease-in;
}

.social li:hover{
    /* transform: scale(1.2); */
    cursor: pointer;
    color: red;
}

.github1,
.facebook1,
.instagram1,
.twitter1{
    font-size: 15px;
    margin: 0;
}


/* about */
.about_container{
    height: auto;
    width: 63%;
    border: 2px solid green;
    border-radius: 20px;
    margin-top: 60px;
    padding: 0px 35px 20px 35px;
    margin-bottom: 30px;
}

.position{
    color: grey;
    font-size: 20px;
    margin-top: 35px;
}

.about_info h2{
    color: white;
    margin: 10px 0px 10px 0px;
    font-size: 30px;
    padding: 10px 0px;
    font-family: "truculenta", sans-serif;
}

.btn{
    margin-top: 15px;
    background-color: transparent;
    border: none;
    font-family: "Asul",sans-serif;
    font-size: 15px;
}

.btn:hover{
    cursor: pointer;
}

.intro p{
    color:grey;
    font-family: "Asul",sans-serif;
}


/* Professional experiance */
.title{
    color:#FFDF00;
    font-size: 20px;
    margin: 30px 0px 10px;
}

.date{
    margin: 0px 0px 10px 0px;
    color: rgb(222, 206, 206);
}

.work{
    font-size: 30px;
    font-weight: 900;
    margin: 20px 0px;
}
.professional_exp ul{
    list-style: circle;
    color:grey;
}

.edu_info 
.degree{
    font-size: 29px;
    font-weight: 900;
    margin: 20px 0px;
}

.deg_place{
    display: flex;
    justify-content:start;
}

.place{
    color: greenyellow;
    margin: 33px 0 0 10px;
    font-size: 16px;
}

.resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resume i{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    padding: 0px 0px 10px 0px;
}

.resume_btn{
    margin: 0px 0px 0px 10px;
    padding: 10px;
    color: white;
    font-size: 20px;
    background-color: rgb(2, 113, 240);
    border: 1px solid yellow;
    border-radius: 15px;
}

.resume_btn:hover{
    cursor: pointer;
}


/* --------------projects --------------*/

.project{
    margin: 20px 0px;
}

.proj_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pro_btn{
    padding: 0px 0px 10px 0px;
    color: grey;
}

.arrow:hover,
.pro_btn:hover
{
    cursor: pointer;
    color: greenyellow;
}

.images{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    object-fit: cover;
}

#project img{
    object-fit: cover;
}
.img11_info .name{
    font-size: 15x;
    color: gray;
}

#img2{
    border: 1px solid grey;
}

.img11_info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    padding-left: 20px;
    margin: 20px;
}

.proj_name{
    font-size: 30px;
}

#img11,
#img2{
    border: 2px solid rgb(172, 243, 5);
    border-radius: 30px;
}

.img_org{
    display: flex;
}

.img_flip{
    height:300px;
    width:450px;
    transition: all 2s ease-in-out ;
}

.img_flip:hover{
    cursor: pointer;
    transform: rotate(20deg);
}


/* skills */

.skills_name{
    padding: 10px 0px;
    margin: 20px 0px;
    font-size: 20px;
}

.other_skills{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.skills_img img{
    background-color: transparent;
    color: white;
    text-align: center;
    transition: all 0.5s ease-in;
}

.skills_img img:hover{
    cursor: pointer;
    transform: scale(1.06);
}


/* contact */

.contact_details{
    display: flex;
    justify-content: space-between;
}

.cont_header .title{
    margin-top: 50px;
}

.numb,.mail,.git,.linkedin{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.mail a{
    font-size: 16px;
    margin: 0;
}

.linkedin a{
    font-size: 16px;
    margin: 0;
}
.git a{
    font-size: 16px;
    margin: 0;
}
.linkedin{
    padding-right: 100px;
}


 /* --------------------- */
.screen{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vw;
    width: 100vw;
    z-index: 1;
    background: rgba(0,0,0,0.7);
    display: none;
}

.content{
    position: fixed;
    top: 0.2%;
    left: 0.5%;
    background: white;
    height: 99.5%;
    width: 99.2%;
    z-index: 2;
    text-align: center;
    padding: 20px;
    background: black;
    display: none;
    border: 2px solid green;
}

.icon{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.btnx{
    background-color: red;
    color: pink;
    cursor: pointer;
}

.content h1{
display: flex;
flex-direction: row;
background-color: pink;
}

.header{
    color: yellow;
    position: absolute;
    top: 10px;
    left: 45%;
    font-size: 30px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.broi_info{
    display: flex;
    height: 500px;
    width: 100%;
    background: transparent;
    padding-top: 60px ;
}

.broi_info p{
    margin-right: 10%;
}

.info_info p{
    color: rgb(219, 219, 219);
}

.info_info{
    padding: 20px;
}

.broi_info img{
    margin-left: 67px;
    border: 2px solid white;
    height: 451px;
    width: 599px;
}

.learn_more{
    margin-bottom: 10px;
}

.learn_more .btn{
    background-color: transparent;
    border: none;
    font-family: "Asul", sans-serif;
    font-size: 15px;
    color: grey;
    cursor: pointer;
}

.learn_more .arr,
.arro{
    margin-left: 5px;
    color: grey;
    cursor: pointer;
}

.learn_more a{
    background-color: transparent;
    border: none;
    font-family: "Asul", sans-serif;
    font-size: 15px;
    color: grey;
    cursor: pointer;
    margin-left: 5px;
    color: grey;
    cursor: pointer;
}

.learn_more :hover{
    color: orange;
}


/* <!-- Project Popup --> */
.popup {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    overflow-y: auto;
}

.popup-content {
    padding: 20px;
}

.popup-inner h1{
    text-align: center;
    margin-bottom: 10px;
}
.popup img{
    object-fit: cover;
}

.close{
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(248, 248, 248);
    text-decoration: none;
    cursor: pointer;
}

.container2{
    border: 2px solid rgb(121, 252, 121);
    height: auto;
    width: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: wrap row;
    gap: 40px;
    z-index: 2; 
    padding: 0px 0px 20px 0px;
}

.icon a{
    position: absolute;
    top: 30px;
    right: 40px;
    color: white;
    text-decoration: none;
    font-size: 21px;
    border-radius: 26px;
    text-align: center;
    line-height: 3px;
    padding: 8px;
    background-color: green;  
}

.img1{
    flex-basis: 20%;
    cursor: pointer;
    position: relative;
    border-radius: 30px;
}

.img1 img{
    height: 250px;
    width:90%;
    display: block;
    margin: auto;
    border: 1.5px solid blueviolet;
    position: relative;
    border-radius: 30px;
}

.popup .content11{
    width: 90%;
    height: 100%;
    position: absolute;
    color: white;
    top: 0;
    left: 25px;
    background: rgba(6, 2, 0, 0.594);
    flex-direction: column;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.content11:hover{
    opacity:1;
}


.content11 i{
    position: relative;
    top: 120px;
    left: 200px;
}

.name{
    border: 3px solid yellow;
    padding: 0 10px 0 10px;
    width: 500px;
    border-radius: 15px;
}

.name p{
    margin: 20px;
    font-weight: 400;
    text-align: center;
    text-wrap: wrap;
    color: white;
}

.first{
    margin-top: 30px;
}

.img1{
    transition: all 1s ease-in-out;
}

.last{
    margin-bottom: 20px;
}

.img1:hover{
    transform:scale(1.03)
}

.content11 i{
    color: yellow;
    font-size: 25px;
    background-color: transparent;
}

.btn2{
    color: red;
    cursor: pointer;
}

/* <!-- About Popup 2 --> */

.popup2{
    padding: 20px;
}

.header2{
    color: red;
}

.popup2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.popup2-content {
    background-color: black;
    border: 2px solid green;
    border-radius: 4px;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 895px;
}

.close2 {
    position: absolute;
    top: 4px;
    right: 16px;
    font-size: 24px;
    cursor: pointer;
    color: grey;
}

.header2 {
    font-size: 32px;
    font-weight: bold;
    color: yellow;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.text-content {
    display: flex;
    margin-top: 16px;
    width: 100%;
}

.text-content img {
    flex: 1;
    height: auto;
    border-radius: 8px;
    margin: 0 100px 20px 50px;
    height: 520px;
}

.pop2_content {
    flex: 2;
    padding: 0 30px 0 1px;
}

.subheader {
    font-size: 24px;
    font-weight: bold;
}

.paragraph {
    margin-top: 8px;
}

.popup2{
    display: none;
    position: fixed; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: black;
    z-index: 1000;
    overflow-y: auto;
}

.close2 {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


.skills_img img{
    height: 100px;
    width: 100px;
}
.skills_img .js{
    margin-top: 20px;
    height: 80px;
    width: 80px;
}

.git a:hover{
    text-decoration: underline;
}
.linkedin a:hover {
    text-decoration: underline;
}

.skills_grid{
    /* border: 1px solid green; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-content: center;
    gap: 30px;
}

/* ----------------- responsive --------------- */
@media screen and (max-width:785px){
    .navbar{
        display: none;
    }
    .about_container{
        color: green;
        padding: 0px 17px 20px 17px;
        margin-left: 7px;
        width: 97%;
    }
    .edu_info .degree {
        font-size: 25px;
    }
    .deg_place {
        flex-direction: column;
    }
    .place{
        margin: -10px 0 0 0px;
    }
    .img_flip {
        height: 200px;
        width: 254px;
        margin-left: 18px;
    }
    .img11_info{
        gap: 5px;
    }
    .proj_name {
        font-size: 20px;
        font-weight: 800;
    }
    .img_org {
        flex-direction: column;
    }
    .skills_img img {
        height: 90px;
        width: 90px;
    }
    .contact_details {
        flex-direction: column;
        font-size: 15px;
    }
    .skills_grid {
            display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 35px;

      
    }
.intro p {
    font-size: 14px;
}
.linkedin{
    margin-left: 115px;
}

.text-content img {
    margin: 1px 25px 8px 104px;
    height: 187px;
}
.text-content{
    display: block;
}
.pop2_content {
    padding: 0 18px 0 15px;
    font-size: 12px;
}
.header2 {
    font-size: 29px;
    margin: 25px 0;

}
.close2 {
    color: #aaa;
    top: 3px;
}

    .container2{
        padding: 6px 12px 0px 12px;
    }
    .img1 img {
        height: 175px;
        width: 80%;
    }
    .name p {
        margin: 7px;
        font-size: 14px;
    }
    .content11 i{
        position: relative;
        top: 70px;
        left: 100px;
    }
 
}